/* In CSS #before a name indicates an id, .before a name indicates a class */
.flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
}
#terminalWindow {
    min-height: 40%; 
    min-width: 80%;
}
.command, .directory {
    cursor: pointer;
}
